<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top zetta-header">
  <a class="navbar-brand" href="#">
    <!-- <i class="fa fa-github"></i> -->
    <span>{{title}}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li>
        <span class="nav-link" style="position: relative; top: 5px">
          <iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fghiscoding%2FAngular-Slickgrid&amp;aria-label=Star%20ghiscoding%2FAngular-Slickgrid%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star&amp;data-show-count=true"
            style="width: 90px; height: 20px; border: none;"></iframe>
        </span>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-lg fa-home"></i> Home
        </a>
      </li> -->
    </ul>
  </div>
</nav>